* {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: -3px;
	line-height: 1.2em;
	color: #555;
}

body {
	background: -webkit-gradient(linear,left top,left bottom,color-stop(75%,rgba(241, 241, 241, 1)),color-stop(100%,rgba(241, 241, 241, 0.9)));
}

select {
	color: #333;
}
input.warning {
	background: url('../images/warning.png') no-repeat 5px 10px;
	padding-left: 30px !important;
}

input#total {
	color: red;
}
input#suma, input#total {
	padding-left: 4px;
	width: 160px;
}

h1 {
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.3);
	font-size: 70px;
	font-weight: bold;
	display: block;
	clear: both;
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

h1 span {
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.3);
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 3px;
	position: relative;
	top: -30px;
}


#gui {
	width: 600px;
	text-align: center;
	padding: 30px;
	margin: 100px auto;	
	background-color: #fafafa;
	-webkit-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);    
	box-shadow:  0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#data {
	position: relative;
	margin: 0 auto;
	width: 600px;
	text-align: right;
	top: 180px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.5em;
	color: #cacaca;
}